// header style

.header {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    .hcont {
        color: black;
        display: flex;
        justify-content: space-between;
        &__menu {
            display: flex;
            font-size: ;
        }
        
        
    }
}